@import "_variables.scss";

/* Estilos para la seccion de juegos */
main{
    background-color: $color-primary;
    .title-games{
        text-align: center;
        color: $color-white;
        padding-top: 30px;
        font-size: 24px;
    }
    .text-games{
        text-align: center;
        color: $color-white;
        font-size: 16px;
        padding-bottom: 30px;
        span{
            color: $color-second;
            font-weight: 700;
        }
    }
}
#juegos{
    display: flex;
    flex-direction: column;
    width: 100vw;
    color:$color-white;
}

.games-items{
    margin: 0 auto;
    h2{
        font-size: 15px;
        text-align: center;
        padding-top: 30px;
    }
}
.image-game{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,auto);
    width: 100%;
    width: 260px;
    border-radius: 12px;
    box-shadow: 6px 6px 6px $color-second;
    text-align: center;
    img{
        grid-column: 1/7;
        grid-row: 1/7;
        width: 100%;
        border-radius: 12px;
    }
    h3{
        grid-column: 1/7;
        grid-row: 4/4;
        opacity: 0.7;
        font-size: 16px;

    }
    p{
        grid-column: 1/7;
        grid-row: 5/5;
        font-size: 16px;
        color: $color-second;
        font-weight: 700;

    }
    button{
        grid-column: 1/7;
        grid-row: 6/7;
        width: 40%;
        margin: 0 auto;
    }
    .arrow-left{
        grid-column: 1/1;
        grid-row: 3/4;
    }
    .arrow-right{
        grid-column: 6/7;
        grid-row: 3/4;

    }
    .arrow{
        cursor: pointer;
        box-shadow: none;
        z-index: 10;
        opacity: .5;
    }
    .arrow:hover{
        opacity: 1;
    }
}
.botton-games{
    padding-bottom: 70px;
}