@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

$font-title:'Nerko One', cursive;
$font-other:'Roboto Serif', serif;
$color-primary:#131929;
$color-second:#097fb1;
$color-three:#07c5ff;
$color-white:#fff;